body{
    margin:0%;
}
*{
    font-family: 'Poppins', sans-serif;
    background-color:#000;   
        padding-top: 0px;
        /* background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png"); */
}

.theme-color{
    color: #155AD9;
}

.logo{
    height: 90px;
   width: 90px;
}
.theme-bg{
    background-color: #155AD9;
}

.theme-btn{
    background-color: #155AD9;
    color: #F7F7F7;
}
.theme-btn:hover{
    background-color: #155AD9;
    color: #F7F7F7;
}

.login-header{
  
    color:rgb(0, 0, 0);
    font-weight: 1000;
    background-color: white;
}

.brand-light{
    color: #FFFFFF;
    font-weight: 500;
}
.brand-light:hover{
    color: #FFFFFF;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("images/bgg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card{
    background-color: #FFFFFF;
}

.login-btn {
    background-color: #155AD9;
}
 .login-btn:hover{
     color: white;
 }

 /* Dashboard */

 .logout-btn{
     color: #FFFFFF;
     border: 1px solid #3AB4F3;
     background-color: #3AB4F3;
 }

 .logout-btn:hover{
    color: #FFFFFF;
    border: 1px solid #3AB4F3;
    background-color: #66c9ff;
}

.action-btn{
    background-color: #155AD9;
    color: white;
}

.action-btn:hover{
    background-color: #6A51E4;
    color: white;
}

.fa-plus-square{
    color: white;
}

/* Add Books */

.form-header{
    background-color: #F7F7F7;
    color: #3F3D56;
    font-weight: 500;
}
.col-6 col-lg-6{
    background-color: white;
}
.navbar-toggler-icon{
    background-color: #fcfbfe;

}
.container-fluid{
    background-color: #000;
    padding-top: 0px;
}

.navbar.bg-light.fixed-top{
    padding-top: 0px;
    padding-bottom: 0px;
}
.mt-4{
    background-color: white;
    padding-bottom: 10px;
}
.sign-up{
    background-color: white;
}

.btn.login-btn.btn-block{
    font-weight: 1000;
    /* color: #155AD9; */
    background-color: rgb(30, 95, 226);
    margin-top: 11px;
}

.pb-2{
    padding-top: 7px;
}
.offcanvas-end{
    color: #F7F7F7;
}

.offcanvas-title{
    color: white;
}

#home,#Purchase,#dropdown{
color: #fcfbfe;
}

.offcanvas-header .btn-close{
    background-color: white;
}